#container {
    /* margin: 20px; */
    padding: 50px;
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar {
    display: none;
}
.weather-container {
    /* width: 50%; */
    /* border: 1px solid; */
    padding: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #B5C0D0;
}

.weather-header {
    margin: 3px;
    margin-left: 15px;
    margin-bottom: 10px;
}

input {
    margin-top: 20px;
    margin-left: 30%;
    width: 315px;
    padding: 12px;
}

button {
    padding: 12px;
}

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.weather-box {
    display: flex; 
    flex-direction: column;
    color: white;
    background-color: slategray;
    padding: 20px 40px;
    border-radius: 12px;
    margin-right: 10px;
    /* margin-left: 10px; */
}